# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
venv/
.env
.env.*
.venv/

# Byte-compiled / optimized / DLL files
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# VS Code
.vscode/

# macOS
.DS_Store

# Logs
*.log

# models or large data (uncomment if you keep model files locally and don't want to push them)
# model/
